#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Reset some basic elements to ensure consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Default font size */
  line-height: 1.5; /* Improve readability */
}

body {
  font-family: Arial, sans-serif; /* Set a basic sans-serif font */
  color: #ffffff; /* Dark grey for better readability */
  background-color: #2d2929; /* Light background color */
  padding: 1rem; /* Add space inside the page */
  max-width: 1200px; /* Center content on larger screens */
  margin: 0 auto; /* Center the content horizontally */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 1rem 0 0.5rem; /* Add margin above and below */
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* Paragraphs */
p {
  margin-bottom: 1rem;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul,
ol {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

/* Buttons */
button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Form Elements */
input,
textarea,
select {
  padding: 0.7rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
  text-align: left;
}

caption {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Blockquotes */
blockquote {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #f0f0f0;
  border-left: 5px solid #ccc;
}
